@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  background: #010101;
  font-family: 'Montserrat', sans-serif;
  height: 100%;
}
#root {
  height: 100%;
}
.wrapper {
  height: 100%;
}